<style>
    
</style>

<center>

        <a class="btn btn-outline-primary" style="margin-top: 280px; text-decoration: none; color: #fff;" href="@Url.Action("IncluirAgendamento", "Agenda")">Realizar um novo Agendamento</a>
 
</center>


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/CSS/estiloGeral.css" rel="stylesheet" />