@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Quem Somos?";
}
<link href="~/CSS/estiloGeral.css" rel="stylesheet" />
<style>
    p {
        padding: 15px;
    }
</style>

    <center>
        <h1 style="color: #fff; text-decoration: underline;">Quem Somos?</h1>
    </center>
    <br /><br />
    <center>
        <h3>
            <p>
                <b>
                    A criação desse software tem como ideia principal
                    facilitar a vida dos proprietários dos salões de beleza existentes
                    atualmente, essa facilidade se encaixa na ideia de controle
                    e agendamentos de serviços do salão, deixando assim uma comunicação
                    entre o cliente e seu salão mais fácil!
                </b>
            </p>
        </h3>
        <h1 style="color: #fff; text-decoration: underline;">Como chegar?</h1>
        <center>
            <div style="overflow:hidden;width: 700px;height: 440px; border-style: solid; box-shadow: 6px 6px black">
                <iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Rua%20Agudenses%20Carapicu%C3%ADba+(Eli%20Cosmeticos)&amp;ie=UTF8&amp;t=&amp;z=19&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div><small><a href="https://embedgooglemaps.com/de/">https://embedgooglemaps.com/de/</a></small></div><div><small><a href="https://rechargevodafone.co.uk">rechargevodafone site</a></small></div>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important
                    }
                </style>
            </div><br />
        </center>
    </center>
