body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../Imagens/WhatsApp Image 2019-03-30 at 14.38.12.jpeg');
}

.box {
    background: #636e72;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

    .box h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box input[type = "text"], .box input[type = "password"] {
        background: #9c88ff;
        border: 0;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #fab1a0;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        border-radius: 24px;
        transition: 0.25s;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            background-color: ##9c88ff;
            width: 280px;
            border-color: #6c5ce7;
        }

    .box .btn {
        border: 0;
        background: #fab1a0;
        display: block;
        margin: 20px auto;
        text-align: center;
        text-decoration: none;
        border: 2px solid #ff7675;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box .btn:hover {
            background: #a29bfe;
            border-color: #a29bfe;
        }
